<!DOCTYPE html>
<html>
<body>

<h2>Energy Dashboard</h2>

<p><b>Total Meters:</b> {{ total_meters }}</p>
<p><b>Total Readings:</b> {{ total_readings }}</p>

<hr>

<h3>Latest Meter Readings</h3>

<table border="1" cellpadding="5">
<tr>
    <th>Meter ID</th>
    <th>Reading</th>
    <th>Consumption</th>
    <th>User</th>
    <th>Time</th>
    <th>Photo</th>
    <th>Status</th>
</tr>

{% for r in readings %}
<tr>
    <td>{{ r[0] }}</td>
    <td>{{ r[1] }}</td>
    <td>{{ r[2] }}</td>
    <td>{{ r[3] }}</td>
    <td>{{ r[4] }}</td>
    <td>
    {% if r[6] == 1 %}
        Locked
    {% else %}
        Unlocked
    {% endif %}
    <td>
        {% if r[5] %}
      <a href="/uploads/{{ r[5].split('/')[-1] }}" target="_blank">View</a>
        {% else %}
        -
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

<br>
<a href="/">Meter Master</a> |
<a href="/reading">Add Reading</a>

</body>
</html>

<a href="/export">
    <button>⬇ Export to Excel</button>
</a>